CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

DETECTOR_CHECKPOINT=/home/triuq/projects/detect-waste/20210130-231654-tf_efficientdet_d2_Multi.pth.tar
DETECTOR_NAME=tf_efficientdet_d2
PREDICTION_DEVICE=cuda:0
PREDICTION_PROB_THRESHOLD=0.17
PREDICTION_CLS_THRESHOLD=0.5
CLOUDINARY_FOLDER=detect-waste
